.wrapper {
  --search-border-radius: 92px;
  --search-height: 48px;
  --search-top-spacer: 9px;
  --search-btn-after-height: calc(var(--search-height) - var(--search-top-spacer) * 2);
  --search-button-width: 52px;

  width: var(--default-layout-width);
  height: var(--default-layout-header-height);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
  display: flex;
  justify-content: center;
}

.inner {
  height: 100%;
  width: var(--default-layout-width);
  padding-left: var(--default-layout-horizontal-spacer-left);
  padding-right: var(--default-layout-horizontal-spacer-right);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;

  &:hover {
    cursor: pointer;
  }
}

//Actions

.actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 48px;
  color: rgb(22, 24, 35);
}

.upload-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  min-width: 110px;
  height: 36px;
  border: 1px solid rgba(22, 24, 35, 0.12);
  border-radius: 2px;
  margin-right: 4px;

  &:hover {
    background-color: rgba(22, 24, 35, 0.03);
    cursor: pointer;
  }
}

.upload-link {
  display: block;
}

.upload {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 6px 17px;
}

.upload-icon {
  margin-right: 8px;
}

.download {
  padding-top: 9px;
  width: 216px;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
}

.download-icon {
  padding-top: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 116px;
  height: 100px;
}

.download-text {
  margin-top: 21px;
  color: rgb(22, 24, 35);
  font-family: 'IBM Plex Sans', TikTokFont, Arial, Tahoma, PingFangSC, sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 21px;
  text-align: center;
  padding: 0 10px;
}

.download-button {
  width: 100%;
  margin: 20px 0 0 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.badge {
  position: absolute;
  top: -2px;
  right: -1px;
  padding: 0px 6px;
  height: 2rem;
  line-height: 2rem;
  border-radius: 10px;
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--white);
  font-family: 'ProximaNova', sans-serif;
  background-color: var(--primary);
}

.user-avatar {
  display: block;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  margin-left: 18px;
  object-fit: cover;
  cursor: pointer;
}

.more-btn {
  font-size: 2rem;
  margin-left: 28px;
  padding: 4px 8px;
  background-color: transparent;
  cursor: pointer;
}

.action-btn {
  position: relative;
  display: flex;
  font-size: 2.2rem;
  color: #161823;
  background-color: transparent;
  padding: 4px 10px;
  margin-left: 8px;
  cursor: pointer;
}
