.wrapper {
  --search-border-radius: 92px;
  --search-height: 48px;
  --search-top-spacer: 9px;
  --search-btn-after-height: calc(var(--search-height) - var(--search-top-spacer) * 2);
  --search-button-width: 52px;

  width: var(--default-layout-width);
  height: var(--default-layout-header-height);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
  display: flex;
  justify-content: center;
}

.inner {
  height: 100%;
  width: var(--default-layout-width);
  padding: 0 24px 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;

  &:hover {
    cursor: pointer;
  }
}

.search,
.search-result {
  width: 500px;
}

.search-title {
  color: rgba(22, 24, 35, 0.5);
  font-size: 1.4rem;
  font-weight: 600;
  padding: 5px 12px;
}

.search {
  position: relative;
  height: var(--search-height);
  padding: 0 0 0 16px;
  display: flex;
  align-items: center;
  background-color: rgba(22, 24, 35, 0.06);
  border-radius: var(--search-border-radius);
  border: 1.5px solid transparent;

  input {
    flex: 1px;
    height: 100%;
    font-size: 1.6rem;
    caret-color: var(--primary);
    font-weight: 400;
    color: rgba(22, 24, 35, 1);
    background-color: transparent;
  }

  input:not(:placeholder-shown) ~ .search-btn {
    color: rgb(22, 24, 35);
  }

  &:hover {
    border: 1.5px solid rgba(22, 24, 35, 0.2);
  }

  &:hover .search-btn {
    color: rgb(22, 24, 35);
    background-color: rgba(22, 24, 35, 0.03);
    cursor: pointer;
  }

  &::after {
    content: '';
    position: absolute;
    top: var(--search-top-spacer);
    right: var(--search-button-width);
    width: 1px;
    height: var(--search-btn-after-height);
    background: rgba(22, 24, 35, 0.12);
  }
}

.clear,
.loading {
  position: absolute;
  right: calc(var(--search-button-width) + 14px);
  top: 50%;
  transform: translateY(-50%);
  color: rgba(22, 24, 35, 0.34);
}

.loading {
}

.search-btn {
  width: var(--search-button-width);
  height: 100%;
  color: rgba(22, 24, 35, 0.34);
  font-size: 2rem;
  border-top-right-radius: var(--search-border-radius);
  border-bottom-right-radius: var(--search-border-radius);
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 48px;
}

.more-btn {
  font-size: 2rem;
  margin-left: 28px;
  padding: 4px 8px;
  background-color: transparent;
}


.upload-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  min-width: 110px;
  height: 36px;
  border: 1px solid rgba(22, 24, 35, 0.12);
  border-radius: 2px;
  margin-right: 8px;

  &:hover {
    background-color: rgba(22, 24, 35, 0.03);
    cursor: pointer;
  }
}

.upload-link {
  display: block;
}

.upload {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 5.5px 18.5px;
}

.upload-icon {
  margin-right: 8px;
}

.download,
.message,
.inbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  font-size: 2rem;
  cursor: pointer;
}

.download {
  margin-left: 14px;
}

.message,
.inbox {
  margin-left: 16px;
}

.inbox {
  position: relative;

  &::after {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -5px;
    right: -14px;
    content: '35';
    min-width: 10px;
    height: 20px;
    color: var(--white);
    font-size: 1.4rem;
    border-radius: 10px;
    background-color: var(--primary);
    padding: 0 6px;
  }
}

.profile {
}

.profile-img {
  display: block;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  margin-left: 24px;
  float: none;
}
